In [1]:
import pandas as pd

airlineInfo = pd.read_csv("info.csv")

In [2]:
airlineInfo

  Airlines  arr_time  arr_delay           dest
0   ALASKA       497         62    Los Angeles
1   ALASKA       221         12        Phoneix
2   ALASKA       212         20      San Diego
3   ALASKA       503        102  San Francisco
4   ALASKA      1841        305        Seattle
5  AM WEST       694        117    Los Angeles
6  AM WEST      4840        415        Phoneix
7  AM WEST       383         65      San Diego
8  AM WEST       320        129  San Francisco
9  AM WEST       201         61        Seattle

In [3]:
#calculating the percentage of Alaska filght delay
AlaskaFlights = airlineInfo['arr_delay'].head() + airlineInfo['arr_time'].head()
AlaskaPercentDelay = (airlineInfo['arr_delay'].head() / AlaskaFlights ) * 100


print (AlaskaPercentDelay)

0    11.091234
1     5.150215
2     8.620690
3    16.859504
4    14.212488
dtype: float64

In [4]:
AMWFlights = airlineInfo['arr_delay'].tail() + airlineInfo['arr_time'].tail()
AMWPercentDelay = (airlineInfo['arr_delay'].tail() / AMWFlights ) * 100


print (AMWPercentDelay)

5    14.426634
6     7.897241
7    14.508929
8    28.730512
9    23.282443
dtype: float64